.custom-navbar {
	background-color: black ;
}

.navbar-brand[href="/"] {
  color: white !important;
}


.custom-navbar .custom-brand,
.custom-navbar .nav-link {
	color: white !important;
}

.custom-navbar .nav-link:hover {
  color: #6495ed !important;
}