

.App {
  text-align: center;
}

.app-container {
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* cursor */
.cursor {
  position: fixed;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  pointer-events: none; 
  
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 20%,rgba(255, 255, 255, 0.03)) 90%;
  mix-blend-mode: lighten;
  filter: blur(55px);
  z-index: 9999; 
  transform: translate(-50%, -50%);
}



